
<h2 style="text-align: center;">Liste des transactions (fichier Compconf)</h2>
<div id="loader" *ngIf="loading"></div>
<div *ngIf="!loading">
  <div class="container mt-5"[ngStyle]="{'display':displaysearch}">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card p-3  py-4">
                <h5>chercher transaction</h5>
                <div class="row g-3 mt-2">
                    <div class="col-md-9">
    <input class="form-control" id="recherche" type="text" placeholder="Chercher"[(ngModel)]="optionValue">                    
                    </div>
                    <div class="col-md-3">
    <button class="btn btn-secondary btn-block"(click)="filterworkposs()"><i class="fa fa-search"></i>Chercher</button>                
                    </div>                   
</div>
<div class="mt-3">                   
<a data-bs-toggle="collapse" class="nav-link px-0 align-middle" href="view-workgab#collapseExample"(click)="avance()">
Recherche Avancée<i class="fa fa-angle-down"></i>
</a>
<div class="collapse hide nav flex-column ms-1" id="collapseExample">
<div class="card card-body"> 
<div class="row">
<div class="col-md-6">
<input type="text" placeholder="ID commerçant" class="form-control"[(ngModel)]="option1Value">       
</div>
<div class="col-md-6">
<input type="text" class="form-control" placeholder="Num Carte"[(ngModel)]="option2Value">       
</div>   
</div>
<div class="row">
  <div class="col-md-2"> 
<label for="dinf">Supérieur à:</label>
  </div>
  <div class="col-md-4">
  <input type="date" placeholder="supérieur à" class="form-control"[(ngModel)]="option3Value">       
  </div>
  <div class="col-md-2"> 
    <label for="dinf">Inférieur à:</label>
  </div>
  <div class="col-md-4">
  <input type="date" class="form-control" placeholder="inférieur à"[(ngModel)]="option4Value">       
  </div>   
  </div>
</div>
</div>
</div>     
</div>         
</div>     
</div>
</div> 
      <mat-paginator 
  (page)="onPageChange($event)"
  [length]="workposs.length"
                [pageSize]="100"
                [pageSizeOptions]="[100,200,500,1000]">
  </mat-paginator>
  <div
  id="filter"
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <h4 class="modal-title">Liste Des Transactions sélectionnées:{{filtreditems.length}}</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" [style.top]="inverseOfTranslation">RECORDREFERENCE</th>
              <th scope="col" [style.top]="inverseOfTranslation">BATCHIDENTIFICATION</th>
              <th scope="col" [style.top]="inverseOfTranslation">BATCHSEQUENCENUMBER</th>
              <th scope="col" [style.top]="inverseOfTranslation">TRANSACTIONSEQUENCENUMBER</th>
              <th scope="col" [style.top]="inverseOfTranslation">MERCHANTIDENTIFICATION</th>
              <th scope="col" [style.top]="inverseOfTranslation">BATCHSEQUENCENUMBER2</th>
              <th scope="col" [style.top]="inverseOfTranslation">DRAFTNUMBER</th>
              <th scope="col" [style.top]="inverseOfTranslation">CARDHOLDERNUMBER</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER</th>
              <th scope="col" [style.top]="inverseOfTranslation">TRANSACTIONAMOUNT</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER2</th>
              <th scope="col" [style.top]="inverseOfTranslation">TERMINALINVOICENUMBER</th>
              <th scope="col" [style.top]="inverseOfTranslation">TRANSACTIONTIME</th>
              <th scope="col" [style.top]="inverseOfTranslation">CARDEXPIRYDATE</th>
              <th scope="col" [style.top]="inverseOfTranslation">AUTHORIZATIONCODE</th>
              <th scope="col" [style.top]="inverseOfTranslation">TRANSACTIONDATE</th>
              <th scope="col" [style.top]="inverseOfTranslation">SETTLEMENTAMOUNT</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER3</th>
              <th scope="col" [style.top]="inverseOfTranslation">TERMINALTYPE</th>
              <th scope="col" [style.top]="inverseOfTranslation">ISSUERBANKCODE</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER4</th>
              <th scope="col" [style.top]="inverseOfTranslation">OPERATIONCODE</th>
              <th scope="col" [style.top]="inverseOfTranslation">ACQUIRERBANKCODE</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER5</th>
              <th scope="col" [style.top]="inverseOfTranslation">CURRENCYCODE</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER6</th>
              <th scope="col" [style.top]="inverseOfTranslation">TERMINALTYPE2</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER7</th>
              <th scope="col" [style.top]="inverseOfTranslation">TRANSTRAILERID</th>
                </tr>
            </thead>
            <tbody *ngIf="filtreditems.length>0">
              <tr *ngFor="let comp of settedfiltreditems">
                <td>{{comp.RECORDREFERENCE}}</td>
                <td>{{comp.BATCHIDENTIFICATION}}</td>
                <td>{{comp.BATCHSEQUENCENUMBER}}</td>
                <td>{{comp.TRANSACTIONSEQUENCENUMBER}}</td>
                <td>{{comp.MERCHANTIDENTIFICATION}}</td>
                <td>{{comp.BATCHSEQUENCENUMBER2}}</td>
                <td>{{comp.DRAFTNUMBER}}</td>
                <td>{{comp.CARDHOLDERNUMBER}}</td>
                <td>{{comp.FILLER}}</td>
                <td>{{comp.TRANSACTIONAMOUNT}}</td>
                <td>{{comp.FILLER2}}</td>
                <td>{{comp.TERMINALINVOICENUMBER}}</td>
                <td>{{comp.TRANSACTIONTIME}}</td>
                <td>{{comp.CARDEXPIRYDATE}}</td>
                <td>{{comp.AUTHORIZATIONCODE}}</td>
                <td>{{comp.TRANSACTIONDATE}}</td>
                <td>{{comp.SETTLEMENTAMOUNT}}</td>
                <td>{{comp.FILLER3}}</td>
                <td>{{comp.TERMINALTYPE}}</td>
                <td>{{comp.ISSUERBANKCODE}}</td>
                <td>{{comp.FILLER4}}</td>
                <td>{{comp.OPERATIONCODE}}</td>
                <td>{{comp.ACQUIRERBANKCODE}}</td>
                <td>{{comp.FILLER5}}</td>
                <td>{{comp.CURRENCYCODE}}</td>
                <td>{{comp.FILLER6}}</td>
                <td>{{comp.TERMINALTYPE2}}</td>
                <td>{{comp.FILLER7}}</td>
                <td>{{comp.TRANSTRAILERID}}</td>
                <td><button type="button" class="btn btn-success" (click)="getNavigation('view-carousel',carousel._id)">Consulter</button></td>
                <td><button type="button" class="btn btn-primary" (click)="getNavigation('modify-carousel',carousel._id)">Modifier</button></td>
                <td><button type="button" class="btn btn-danger" (click)="onDelete(carousel._id)">Supprimer</button></td>          
              </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
  </div>
  <cdk-virtual-scroll-viewport #scrollViewport itemSize="50">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" [style.top]="inverseOfTranslation">RECORDREFERENCE</th>
              <th scope="col" [style.top]="inverseOfTranslation">BATCHIDENTIFICATION</th>
              <th scope="col" [style.top]="inverseOfTranslation">BATCHSEQUENCENUMBER</th>
              <th scope="col" [style.top]="inverseOfTranslation">TRANSACTIONSEQUENCENUMBER</th>
              <th scope="col" [style.top]="inverseOfTranslation">MERCHANTIDENTIFICATION</th>
              <th scope="col" [style.top]="inverseOfTranslation">BATCHSEQUENCENUMBER2</th>
              <th scope="col" [style.top]="inverseOfTranslation">DRAFTNUMBER</th>
              <th scope="col" [style.top]="inverseOfTranslation">CARDHOLDERNUMBER</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER</th>
              <th scope="col" [style.top]="inverseOfTranslation">TRANSACTIONAMOUNT</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER2</th>
              <th scope="col" [style.top]="inverseOfTranslation">TERMINALINVOICENUMBER</th>
              <th scope="col" [style.top]="inverseOfTranslation">TRANSACTIONTIME</th>
              <th scope="col" [style.top]="inverseOfTranslation">CARDEXPIRYDATE</th>
              <th scope="col" [style.top]="inverseOfTranslation">AUTHORIZATIONCODE</th>
              <th scope="col" [style.top]="inverseOfTranslation">TRANSACTIONDATE</th>
              <th scope="col" [style.top]="inverseOfTranslation">SETTLEMENTAMOUNT</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER3</th>
              <th scope="col" [style.top]="inverseOfTranslation">TERMINALTYPE</th>
              <th scope="col" [style.top]="inverseOfTranslation">ISSUERBANKCODE</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER4</th>
              <th scope="col" [style.top]="inverseOfTranslation">OPERATIONCODE</th>
              <th scope="col" [style.top]="inverseOfTranslation">ACQUIRERBANKCODE</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER5</th>
              <th scope="col" [style.top]="inverseOfTranslation">CURRENCYCODE</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER6</th>
              <th scope="col" [style.top]="inverseOfTranslation">TERMINALTYPE2</th>
              <th scope="col" [style.top]="inverseOfTranslation">FILLER7</th>
              <th scope="col" [style.top]="inverseOfTranslation">TRANSTRAILERID</th>
          </tr>
      </thead>
      <!--<tbody *ngIf="filtreditems.length>0">
        <tr *ngFor="let comp of filtreditems">
          <td>{{comp.MERCHANTIDENTIFICATION}}</td>
          <td>{{comp.BATCHIDENTIFICATION}}</td>
          <td>{{comp.INVOICENUMBER}}</td>
          <td>{{comp.CARDHOLDERNUMBER}}</td>
          <td>{{comp.MERCHANTSECTOR}}</td>
          <td>{{comp.CHANNELTRANSACTIONID}}</td>
          <td>{{comp.OPERATIONCODE}}</td>
          <td>{{comp.TRANSACTIONCODE}}</td>
          <td>{{comp.TRANSACTIONAMOUNT}}</td>
          <td>{{comp.CARDEXPIRYDATE}}</td>
          <td>{{comp.PROCESSINGDATE}}</td>
          <td>{{comp.TRANSACTIONDATE}}</td>
          <td>{{comp.AUTHORIZATIONCODE}}</td>
          <td>{{comp.REMITTANCEDATE}}</td>
          <td>{{comp.MERCHANTCATEGORIECODE}}</td>
          <td>{{comp.FILLER}}</td>
          <td>{{comp.ACQUIRERBANKIDENTIFICATION}}</td>
          <td>{{comp.LOCALCARDSYSTEMNETWORK}}</td>
          <td>{{comp.ISSUERBANKIDENTIFICATION}}</td>
          <td>{{comp.ACQUIRERREFERENCENUMBER}}</td>
          <td>{{comp.TRANSACTIONORDERUSAGECODE}}</td>
          <td>{{comp.MERCHANTNAME}}</td>
          <td>{{comp.SETTLEMENTAMOUNT}}</td>
          <td>{{comp.FILLER2}}</td>
          <td>{{comp.ENDOFRECORD}}</td>
          <td><button type="button" class="btn btn-success" (click)="getNavigation('view-carousel',carousel._id)">Consulter</button></td>
          <td><button type="button" class="btn btn-primary" (click)="getNavigation('modify-carousel',carousel._id)">Modifier</button></td>
          <td><button type="button" class="btn btn-danger" (click)="onDelete(carousel._id)">Supprimer</button></td>          
        </tr>
      </tbody>-->
      <tbody *ngIf="currentItemsToShow.length>0">
      <tr *cdkVirtualFor="let comp of currentItemsToShow">
        <td>{{comp.RECORDREFERENCE}}</td>
        <td>{{comp.BATCHIDENTIFICATION}}</td>
        <td>{{comp.BATCHSEQUENCENUMBER}}</td>
        <td>{{comp.TRANSACTIONSEQUENCENUMBER}}</td>
        <td>{{comp.MERCHANTIDENTIFICATION}}</td>
        <td>{{comp.BATCHSEQUENCENUMBER2}}</td>
        <td>{{comp.DRAFTNUMBER}}</td>
        <td>{{comp.CARDHOLDERNUMBER}}</td>
        <td>{{comp.FILLER}}</td>
        <td>{{comp.TRANSACTIONAMOUNT}}</td>
        <td>{{comp.FILLER2}}</td>
        <td>{{comp.TERMINALINVOICENUMBER}}</td>
        <td>{{comp.TRANSACTIONTIME}}</td>
        <td>{{comp.CARDEXPIRYDATE}}</td>
        <td>{{comp.AUTHORIZATIONCODE}}</td>
        <td>{{comp.TRANSACTIONDATE}}</td>
        <td>{{comp.SETTLEMENTAMOUNT}}</td>
        <td>{{comp.FILLER3}}</td>
        <td>{{comp.TERMINALTYPE}}</td>
        <td>{{comp.ISSUERBANKCODE}}</td>
        <td>{{comp.FILLER4}}</td>
        <td>{{comp.OPERATIONCODE}}</td>
        <td>{{comp.ACQUIRERBANKCODE}}</td>
        <td>{{comp.FILLER5}}</td>
        <td>{{comp.CURRENCYCODE}}</td>
        <td>{{comp.FILLER6}}</td>
        <td>{{comp.TERMINALTYPE2}}</td>
        <td>{{comp.FILLER7}}</td>
        <td>{{comp.TRANSTRAILERID}}</td>
        <td><button type="button" class="btn btn-success" (click)="getNavigation('view-carousel',carousel._id)">Consulter</button></td>
        <td><button type="button" class="btn btn-primary" (click)="getNavigation('modify-carousel',carousel._id)">Modifier</button></td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete(carousel._id)">Supprimer</button></td>          
      </tr>
      </tbody>
    </table>       
   </cdk-virtual-scroll-viewport>
</div>
 