

.header {
    padding: 20px; /* some padding */
    text-align: center; /* center the text */
    background: #1abc9c; /* green background */
    color: white; /* white text color */
  }
  .navbar-brand {
     background-position: center center;
     background-size:contain;
     background-repeat: no-repeat;
     background-image: url('../../assets/logo_modifie.png');
     width: 150px;
     height: 120px;
     margin: 0%;
   }
   
   .navbar {
     padding: 0px;
     margin: 0;  
     background-color:transparent;
     z-index:99;
     color: rgb(4, 4, 82);
     padding-left: 10px;
    
        }
    
     .disabled{
      cursor: not-allowed;
      opacity: .7;
     }     

    .navbar li a:hover {
color:cyan;
     }
     
     
     .navbar li > a.active 
     { color: #F97924 }
     #titre {
      position: relative;
      padding-left:30%;
      font-size:30px;
      color: rgb(4, 4, 82);
     }
   #logoutbutton{
    cursor: pointer;
   }
  
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
} 
 
  