<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            
            
            <li><a href="#usefullinks">Liens Utiles</a></li>
            <li class="centred"><a href="">Tous droits réservés</a></li>
          </ul> 
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.facebook.com/profile.php?id=100089278023685"  target="_blank"class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="google"><i class="fa fa-google"></i></a> </li>
            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li> <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> </li>
          </ul>
        </div>
      </nav>
    </body>
