<div class="container-fluid">
    <!-- add compconf -->
    <div class="input-container" id="Check1">
      <label for="myCheck1">Afficher le formulaire d'ajout de compconf</label>
      <input type="checkbox" id="myCheck1" (click)="myFunction1()">
    </div>
    <div id="bodycontainer1">
      <div class="container-fluid"> 
        <fieldset>
          <legend> Insérer fichier compconf</legend>
          <div class="form-group row">
            <label class="col-sm-12 col-form-label"> Charger document</label>
              <div class="col-sm-12">
                <input type="file"  class="form-control inputFile" (change)="onFileChange2($event);">
              </div>
          </div>
          <button class="btn btn-success" (click)="save()"> <i class="fa fa-refresh fa-spin" *ngIf="loading"></i>Valider</button>
        </fieldset>
      <p>{{ errormsg }}</p> 
    </div>
    </div>
    <h2 style="text-align: center;">Liste des transactions (fichier Compconf)</h2>
    <mat-paginator 
(page)="onPageChange($event)"
[length]="jsondata.length"
              [pageSize]="100"
              [pageSizeOptions]="[100,200,500,1000]">
</mat-paginator>
  <div class="users-grid"  style="overflow-x:auto;overflow-y: auto;height: 600px;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">MERCHANT IDENTIFICATION</th>
        <th scope="col">BATCH IDENTIFICATION</th>
        <th scope="col">INVOICE NUMBER</th>
        <th scope="col">CARD HOLDER NUMBER</th>
        <th scope="col">MERCHANT SECTOR</th>
        <th scope="col">CHANNEL TRANSACTION ID</th>
        <th scope="col">OPERATION CODE</th>
        <th scope="col">TRANSACTION CODE</th>
        <th scope="col">TRANSACTION AMOUNT</th>
        <th scope="col">CARD EXPIRY DATE</th>
        <th scope="col">PROCESSING DATE</th>
        <th scope="col">TRANSACTION DATE</th>
        <th scope="col">AUTHORIZATION CODE</th>
        <th scope="col">REMITTANCE DATE</th>
        <th scope="col">MERCHANT CATEGORIE CODE</th>
        <th scope="col">FILLER</th>
        <th scope="col">ACQUIRER BANK IDENTIFICATION</th>
        <th scope="col">LOCAL CARD SYSTEM NETWORK</th>
        <th scope="col">ISSUER BANK IDENTIFICATION</th>
        <th scope="col">ACQUIRER REFERENCE NUMBER</th>
        <th scope="col">TRANSACTION ORDER USAGE CODE</th>
        <th scope="col">MERCHANT NAME</th>
        <th scope="col">SETTLEMENT AMOUNT</th>
        <th scope="col">TRANSACTION TIME</th>
        <th scope="col">FILLER2</th>
        <th scope="col">END OF RECORD</th>
          </tr>
      </thead>
      <tbody *ngIf="currentItemsToShow.length>0">
      <tr *ngFor="let comp of currentItemsToShow">
        <td>{{comp.MERCHANTIDENTIFICATION}}</td>
        <td>{{comp.BATCHIDENTIFICATION}}</td>
        <td>{{comp.INVOICENUMBER}}</td>
        <td>{{comp.CARDHOLDERNUMBER}}</td>
        <td>{{comp.MERCHANTSECTOR}}</td>
        <td>{{comp.CHANNELTRANSACTIONID}}</td>
        <td>{{comp.OPERATIONCODE}}</td>
        <td>{{comp.TRANSACTIONCODE}}</td>
        <td>{{comp.TRANSACTIONAMOUNT}}</td>
        <td>{{comp.CARDEXPIRYDATE}}</td>
        <td>{{comp.PROCESSINGDATE}}</td>
        <td>{{comp.TRANSACTIONDATE}}</td>
        <td>{{comp.AUTHORIZATIONCODE}}</td>
        <td>{{comp.REMITTANCEDATE}}</td>
        <td>{{comp.MERCHANTCATEGORIECODE}}</td>
        <td>{{comp.FILLER}}</td>
        <td>{{comp.ACQUIRERBANKIDENTIFICATION}}</td>
        <td>{{comp.LOCALCARDSYSTEMNETWORK}}</td>
        <td>{{comp.ISSUERBANKIDENTIFICATION}}</td>
        <td>{{comp.ACQUIRERREFERENCENUMBER}}</td>
        <td>{{comp.TRANSACTIONORDERUSAGECODE}}</td>
        <td>{{comp.MERCHANTNAME}}</td>
        <td>{{comp.SETTLEMENTAMOUNT}}</td>
        <td>{{comp.FILLER2}}</td>
        <td>{{comp.ENDOFRECORD}}</td>
        <td><button type="button" class="btn btn-success" (click)="getNavigation('view-carousel',carousel._id)">Consulter</button></td>
        <td><button type="button" class="btn btn-primary" (click)="getNavigation('modify-carousel',carousel._id)">Modifier</button></td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete(carousel._id)">Supprimer</button></td>          
      </tr>
      </tbody>
    </table>
  </div>
</div>