
<h2 style="text-align: center;">Liste des transactions (fichier Compconf)</h2>
<div id="loader" *ngIf="loading"></div>
<div *ngIf="!loading">
    <div [ngStyle]="{'display':displaysearch}">
        <input class="search_input" id="firstname" type="text" placeholder="Chercher"[(ngModel)]="optionValue">
        <a class="search_icon"(click)="filtercompconf()" style="cursor: pointer;"> <i class="fas fa-search"></i></a>
      </div>
      <mat-paginator 
  (page)="onPageChange($event)"
  [length]="compconfs.length"
                [pageSize]="100"
                [pageSizeOptions]="[100,200,500,1000]">
  </mat-paginator>
  <div
  id="filter"
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <h4 class="modal-title">Liste Des Transactions sélectionnées</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" [style.top]="inverseOfTranslation">ID commerçant</th>

        
              <th scope="col" [style.top]="inverseOfTranslation">Num. carte</th>


              <th scope="col" [style.top]="inverseOfTranslation">Canal</th>


              <th scope="col" [style.top]="inverseOfTranslation">Type de transaction</th>
              <th scope="col" [style.top]="inverseOfTranslation">Montant</th>
              <th scope="col" [style.top]="inverseOfTranslation">Date expiration</th>
              <th scope="col" [style.top]="inverseOfTranslation">Date transaction</th>
             
              <th scope="col" [style.top]="inverseOfTranslation">Acquéreur</th>
              <th scope="col" [style.top]="inverseOfTranslation">Emetteur</th>
              <th scope="col" [style.top]="inverseOfTranslation">ARN</th>
              <th scope="col" [style.top]="inverseOfTranslation">Cycle de trasnaction</th>
              <th scope="col" [style.top]="inverseOfTranslation">Montant compensé</th>
              <th scope="col" [style.top]="inverseOfTranslation">Heure trasnaction</th>
                </tr>
            </thead>
            <tbody *ngIf="filtreditems.length>0">
              <tr *ngFor="let comp of settedfiltreditems">
                <td>{{comp.MERCHANTIDENTIFICATION}}</td>
              
                <td>{{comp.CARDHOLDERNUMBER}}</td>
                <td>{{comp.CHANNELTRANSACTIONID}}</td>
                <td>{{comp.TRANSACTIONCODE}}</td>
                <td>{{comp.TRANSACTIONAMOUNT}}</td>
                <td>{{comp.CARDEXPIRYDATE}}</td>
                <td>{{comp.TRANSACTIONDATE}}</td>
                
                <td>{{comp.ACQUIRERBANKIDENTIFICATION}}</td>
                <td>{{comp.ISSUERBANKIDENTIFICATION}}</td>
                <td>{{comp.ACQUIRERREFERENCENUMBER}}</td>
                <td>{{comp.TRANSACTIONORDERUSAGECODE}}</td>
                <td>{{comp.SETTLEMENTAMOUNT}}</td>
                <td>{{comp.TRANSACTIONTIME}}</td>
                <td><button type="button" class="btn btn-success" (click)="getNavigation('view-carousel',carousel._id)">Consulter</button></td>
                <td><button type="button" class="btn btn-primary" (click)="getNavigation('modify-carousel',carousel._id)">Modifier</button></td>
                <td><button type="button" class="btn btn-danger" (click)="onDelete(carousel._id)">Supprimer</button></td>          
              </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
  </div>
  <cdk-virtual-scroll-viewport #scrollViewport itemSize="50">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" [style.top]="inverseOfTranslation">ID commerçant</th>

        
        <th scope="col" [style.top]="inverseOfTranslation">Num. carte</th>


        <th scope="col" [style.top]="inverseOfTranslation">Canal</th>


        <th scope="col" [style.top]="inverseOfTranslation">Type de transaction</th>
        <th scope="col" [style.top]="inverseOfTranslation">Montant</th>
        <th scope="col" [style.top]="inverseOfTranslation">Date expiration</th>
        <th scope="col" [style.top]="inverseOfTranslation">Date transaction</th>
       
        <th scope="col" [style.top]="inverseOfTranslation">Acquéreur</th>
        <th scope="col" [style.top]="inverseOfTranslation">Emetteur</th>
        <th scope="col" [style.top]="inverseOfTranslation">ARN</th>
        <th scope="col" [style.top]="inverseOfTranslation">Cycle de trasnaction</th>
        <th scope="col" [style.top]="inverseOfTranslation">Montant compensé</th>
        <th scope="col" [style.top]="inverseOfTranslation">Heure trasnaction</th>
          </tr>
      </thead>
      <!--<tbody *ngIf="filtreditems.length>0">
        <tr *ngFor="let comp of filtreditems">
          <td>{{comp.MERCHANTIDENTIFICATION}}</td>
          <td>{{comp.BATCHIDENTIFICATION}}</td>
          <td>{{comp.INVOICENUMBER}}</td>
          <td>{{comp.CARDHOLDERNUMBER}}</td>
          <td>{{comp.MERCHANTSECTOR}}</td>
          <td>{{comp.CHANNELTRANSACTIONID}}</td>
          <td>{{comp.OPERATIONCODE}}</td>
          <td>{{comp.TRANSACTIONCODE}}</td>
          <td>{{comp.TRANSACTIONAMOUNT}}</td>
          <td>{{comp.CARDEXPIRYDATE}}</td>
          <td>{{comp.PROCESSINGDATE}}</td>
          <td>{{comp.TRANSACTIONDATE}}</td>
          <td>{{comp.AUTHORIZATIONCODE}}</td>
          <td>{{comp.REMITTANCEDATE}}</td>
          <td>{{comp.MERCHANTCATEGORIECODE}}</td>
          <td>{{comp.FILLER}}</td>
          <td>{{comp.ACQUIRERBANKIDENTIFICATION}}</td>
          <td>{{comp.LOCALCARDSYSTEMNETWORK}}</td>
          <td>{{comp.ISSUERBANKIDENTIFICATION}}</td>
          <td>{{comp.ACQUIRERREFERENCENUMBER}}</td>
          <td>{{comp.TRANSACTIONORDERUSAGECODE}}</td>
          <td>{{comp.MERCHANTNAME}}</td>
          <td>{{comp.SETTLEMENTAMOUNT}}</td>
          <td>{{comp.FILLER2}}</td>
          <td>{{comp.ENDOFRECORD}}</td>
          <td><button type="button" class="btn btn-success" (click)="getNavigation('view-carousel',carousel._id)">Consulter</button></td>
          <td><button type="button" class="btn btn-primary" (click)="getNavigation('modify-carousel',carousel._id)">Modifier</button></td>
          <td><button type="button" class="btn btn-danger" (click)="onDelete(carousel._id)">Supprimer</button></td>          
        </tr>
      </tbody>-->
      <tbody *ngIf="currentItemsToShow.length>0">
      <tr *cdkVirtualFor="let comp of currentItemsToShow">
        <td>{{comp.MERCHANTIDENTIFICATION}}</td>
              
                <td>{{comp.CARDHOLDERNUMBER}}</td>
                <td>{{comp.CHANNELTRANSACTIONID}}</td>
                <td>{{comp.TRANSACTIONCODE}}</td>
                <td>{{comp.TRANSACTIONAMOUNT}}</td>
                <td>{{comp.CARDEXPIRYDATE}}</td>
                <td>{{comp.TRANSACTIONDATE}}</td>
                
                <td>{{comp.ACQUIRERBANKIDENTIFICATION}}</td>
                <td>{{comp.ISSUERBANKIDENTIFICATION}}</td>
                <td>{{comp.ACQUIRERREFERENCENUMBER}}</td>
                <td>{{comp.TRANSACTIONORDERUSAGECODE}}</td>
                <td>{{comp.SETTLEMENTAMOUNT}}</td>
                <td>{{comp.TRANSACTIONTIME}}</td>
        <td><button type="button" class="btn btn-success" (click)="getNavigation('view-carousel',carousel._id)">Consulter</button></td>
        <td><button type="button" class="btn btn-primary" (click)="getNavigation('modify-carousel',carousel._id)">Modifier</button></td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete(carousel._id)">Supprimer</button></td>          
      </tr>
      </tbody>
    </table>       
   </cdk-virtual-scroll-viewport>
</div>
 